<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerse</title>
    <link rel="stylesheet" href="../public/home.css">
</head>
<body>

    <header>
        <nav>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="order.html">Order</a></li>
                <li><a href="add-product.html">Add Product</a></li>
                <li><a href="admin.html">Admin Product</a></li>
            </ul>
        </nav>
    </header>
    
<h4>this is my homepage</h4>


   
</body>
</html>